<div class='panel panel-primary'>
    <div class='panel-heading'>
        {{pageTitle}}
    </div>
</div>
<div class='table-responsive'>
    <table class='table' >
        <thead>
            <tr>
                <th>
                    SupplierId
                </th>
                <th>
                    SupplierName
                </th>
                <th>
                    Service
                </th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor='let supplier of suppliers'>
                <td *ngIf='supplier'>{{supplier.SupplierId}}</td>
                <td *ngIf='supplier'>{{supplier.SupplierName}}</td>
                <td *ngIf='supplier'>{{supplier.Service}}</td>
                <button type="Edit" value="Edit" (click)="editSupplier(supplier)">Edit</button>
                <button type="Submit" value="Delete" (click)="deleteSupplier(supplier)">Delete</button>
            </tr>   
        </tbody>
    </table>
    <div>
        
    <a routerLink="Add">Add</a>
           
    </div>
</div>
<router-outlet></router-outlet>
<div>        
    {{errorMessage}}
</div>
